.App {
    text-align: center;
}

.cart-wrapper {
    width: 500px;
    height: 100px;
    border: 1px solid #ccc;
    margin-left: 10%;
}

.img-wrapper img {
    width: 100px;
    margin-top: -10px;
    
}

.btn-wrapper button {
    background: rgb(236, 113, 113);
    border: 0px;
    padding: 10px;
    border-radius: 3px;
    color: #fff;
    box-shadow: #333 0px 1px 5px;
}

.item {
    float: left;
    display: inline-block;
    width: 120px;
    padding: 20px;
    height: 70px;
}

.add-to-cart img {
    width: 50px;
    position: absolute;
    right: 1%;
    top: 1%;
}